<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 	
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="springBootTest2.mapper.EmployeeMapper">
<sql id="baseColumns">
	emp_num, emp_name, emp_id, emp_pw, emp_hire_date, emp_email,
	emp_salary, emp_phone	
</sql>
<update id="empUpdate" parameterType="springBootTest2.domain.EmployeeDTO">
	update employees
	set emp_name = #{empName}, emp_email = #{empEmail} , 
		emp_salary = #{empSalary} , emp_phone = #{empPhone}
	where emp_num = #{empNum}
</update>
<delete id="empDelete" parameterType="string" >
	delete from employees where emp_num = #{empNum}
</delete>

<select id="selectOne" parameterType="string" 
	resultType="springBootTest2.domain.EmployeeDTO">
select emp_num empNum, emp_name empName, emp_id empId, 
  emp_pw empPw, emp_hire_date empHireDate, emp_email empEmail,
	emp_salary empSalary, emp_phone empPhone
from employees
where emp_num = #{empNum}	
</select>

<insert id="employeeInsert" 
		parameterType="springBootTest2.domain.EmployeeDTO" >
		insert into employees( <include refid="baseColumns" /> )
		values(#{empNum},#{empName},#{empId},#{empPw},#{empHireDate},
		#{empEmail},#{empSalary},#{empPhone})
</insert>

<select id="selectAll" 
	resultType="springBootTest2.domain.EmployeeDTO">
select emp_num empNum, emp_name empName, emp_id empId, 
  emp_pw empPw, emp_hire_date empHireDate, emp_email empEmail,
	emp_salary empSalary, emp_phone empPhone
from employees
</select>
</mapper>