<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 	
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kosaShoppingMall.mapper.EmployeeMapper">

<insert id="educationInsert" parameterType="hashMap" >
	insert  aLL  
		<foreach collection="listss" item="educationDTO" index="index" >
				into education(EMP_ID , SCHOOL_YEAR, SCHOOL)
				values(#{educationDTO.empId},#{educationDTO.schoolYear},#{educationDTO.school})
		</foreach>
	SELECT * FROM DUAL
</insert>

	<delete id="empDeletes" parameterType="hashMap">
		delete from employees
		<where>
			emp_id in
			<foreach collection="cs" item="empId" index="index" open="(" close=")" separator=",">
				#{empId}
			</foreach>
		</where>	
	</delete>
<update id="changPw" parameterType="authInfo">
	update employees
	set emp_pw = #{userPw}
	where emp_id = #{userId}
</update>

<update id="employeePwChange" parameterType="empDTO">
	update employees
	set emp_pw = #{empPw}
	where emp_id = #{empId}
</update>

<insert id="employeeInsert" parameterType="empDTO">
	insert into employees(emp_id, emp_pw, emp_name,emp_addr,
							emp_phone ,emp_email  )
	values(#{empId},#{empPw},#{empName},#{empAddr},#{empPhone},#{empEmail})
</insert>
<delete id="employeeDelete" parameterType="string">
	delete from employees
	where emp_id = #{empId}
</delete>
<update id="employeeUpdate" parameterType="empDTO">
	update employees
	set emp_name = #{empName}, emp_addr = #{empAddr}, 
		emp_phone = #{empPhone},emp_email = #{empEmail}
	where emp_id = #{empId}
</update>

<resultMap type="empDTO" id="employeeBaseResultMap">
	<id column="empId" jdbcType="VARCHAR" property="empId"/>
	<result column="empPw" jdbcType="VARCHAR" property="empPw"/>
	<result column="empName" jdbcType="VARCHAR" property="empName"/>
	<result column="empAddr" jdbcType="VARCHAR" property="empAddr"/>
	<result column="empPhone" jdbcType="VARCHAR" property="empPhone"/>
	<result column="empEmail" jdbcType="VARCHAR" property="empEmail"/>
	<collection property="educations" ofType="educationDTO">
		<id column="empId" jdbcType="VARCHAR" property="empId"/>
		<id column="SCHOOL_YEAR" jdbcType="DATE" property="schoolYear"/>
		<id column="SCHOOL" jdbcType="VARCHAR" property="school"/>
	</collection>
</resultMap>

<select id="selectOne" resultMap="employeeBaseResultMap" parameterType="string" >
	select em.emp_id empId, emp_pw empPw, emp_name empName,
			emp_addr empAddr, emp_phone empPhone, emp_email empEmail,
		    SCHOOL_YEAR, SCHOOL
	from employees em , education ed
	where em.emp_id = ed.emp_id(+) and em.emp_id = #{empId}
</select>
	<select id="count" resultType="integer">
		select count(*) from employees
	</select>
<select id="selectAll" resultType="empDTO" parameterType="StartEndPageDTO">
	select * from(
	select rownum rn , emp_id empId, emp_pw empPw, emp_name empName,
			emp_addr empAddr, emp_phone empPhone, emp_email empEmail
	from employees)
	where rn between #{startRow} and #{endRow}
	
</select>
</mapper>