<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<a href="/board/boardList">자유 게시판 게시판</a>
<p></p>
<th:block th:if="${session.authInfo == null}">
<!-- 로그인 안되었을 때 -->
<form action="loginPro"  method="post" name="frm" id="frm">
<table>
<tr><td colspan=2>
	<input type="checkbox" value="autoLogin" name="autoLogin">로그인 유지 |
	<input type="checkbox" value="store" name="storeId" /> 아이디 저장
	</td></tr>
<tr><td><input type="text" name="id" placeholder="아이디입력" /><br />
        <span th:if="${err_id != null}" th:text="${err_id}"  style="color:red"></span></td>
	<td rowspan=2>
	<input type="image" th:src="@{/static/images/img1.jpg}" 
			width="80" height="80" id="imgSubmit">
	<!-- <input type="image" src="/static/images/img1.jpg" width="80" height="80" id="imgSubmit"> -->
	</td></tr>
<tr><td><input type="password" name="pw" placeholder="비밀번호"/><br />
		<span th:if="${err_pw != null}" th:text="${err_pw}" style="color:red"></span></td></tr>
<tr><td colspan=2>
	아이디/비밀번호 찾기 | <a href="/membership/memberAgree">회원가입</a>
	</td></tr>
</table>  
</form>
</th:block>
<span th:if="${session.authInfo != null}">
<!-- 로그인되었을 때 -->
<a href="/lib/libList">자료실</a> |
<a href="/qna/qnaList">QnA 목록</a> |
<span th:switch="${session.authInfo.grade}">
	<span th:case="emp">
		<a href="/mem/memberList">회원리스트</a> |
		<a href="/emp/employeeList">직원 리스트</a> | 
		<a href="/goods/goodsList">상품 리스트</a> |
		<a href="/empLib/libList">직원 자료실</a>
	</span>
	<span th:case="mem">
		<a href="/membership/memInfo">내정보 보기</a> |
	</span>
</span>
<a href="/logout">로그아웃</a>
</span>
</body>
</html>