<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-latest.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js"></script>
<script>
$(function() {
	$("#btn").click(function() {
		$.ajax({
			type : "post",
			url : "empDelete",
			dataType : "text",
			data : {"empId":"[[${employeeCommand.empId}]]",
				    "empPw" : $("#empPw").val()},
			success : function(result) {
				if(result=='1'){
					alert("회원이 정상적으로 삭제 되었습니다.");
					location.href="empList";
				}else{
					alert("회원이 삭제되지 않았습니다.");
					$("#errPw").html("비밀번호가 틀렸습니다.")
					return false;
				}
			},
			error : function() {
				alert('에러가 나왔다 홀홀홀~');
				return;
			}
		});
	});
});
</script>

</head>
<body>
아이디 : [[${employeeCommand.empId}]]<br />
이름 : [[${employeeCommand.empName}]]<br />
주소 : [[${employeeCommand.empAddr}]]<br />
연락처 : [[${employeeCommand.empPhone}]]<br />
<form action="empModify" method="post" > 
<input type="hidden" name="empId" th:value="${employeeCommand.empId}"/><br />
비밀번호 : <input type="password" name="empPw" id="empPw" />
<span id="errPw"></span><br />
<input type="submit" value="수정" />
<input type="button" id="btn" value="삭제" />
</form>
</body>
</html>