<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form action="empUpdate" method="post" th:object="${employeeCommand}">
아이디 : <input type="text" name="empId" th:value="${employeeCommand.empId}" readonly="readonly"/><br />
비밀번호 : <input type="password" name="empPw" />
		<span th:if="${#fields.hasErrors('empPw')}" th:errors="*{empPw}"></span><br />
이름 : <input type="text" name="empName"  th:value="${employeeCommand.empName}"/><br />
주소 : <input type="text" name="empAddr"   th:value="${employeeCommand.empAddr}"/><br />
연락처 : <input type="text" name="empPhone"  th:value="${employeeCommand.empPhone}"/><br />
<input type="submit" value="등록" />
</form>
</body>
</html>