<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="/static/css/memberLayout.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-latest.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js"></script>

<script type="text/javascript">
	$(function(){
		$("#frm").on("submit",function(){
			var body = {   
				    "goodsNum"    : $("#goodsNum").val(),
				    "goodsName"     : $("#goodsName").val(),
				    "goodsPrice"  :  $("#goodsPrice").val(),
				    "goodsContent" : $("#goodsContent").val(),
				    "deliveryCost" :$("#deliveryCost").val()
			}
			var formData = new FormData();
			var goodsMain = $('.goodsMain');
			var goodsImages = $(".goodsImages");
			if (goodsImages.files.length > 0) {
				for (var j = 0; j < goodsImages.files.length; j++) {
					console.log(" fgoodsImages.files[j] :::"+ goodsImages.files[j]);
					
					// formData에 'file'이라는 키값으로 fileInput 값을 append 시킨다.  
					formData.append('goodsMain', goodsImages.files[j]);
				}
			}
			
			
			for (var i = 0; i < goodsImages.length; i++) {
				if (goodsImages[i].files.length > 0) {
					for (var j = 0; j < goodsImages[i].files.length; j++) {
						console.log(" fileInput[i].files[j] :::"+ goodsImages[i].files[j]);
						
						// formData에 'goodsImages'이라는 키값으로 goodsImages 값을 append 시킨다.  
						formData.append('goodsImages', goodsImages[i].files[j]);
					}
				}
			}
			// 'goodsInfo'라는 이름으로 위에서 담은 data를 formData에 append한다. type은 json  
			formData.append('body', new Blob([ JSON.stringify(body) ], {type : "application/json"}));
			
			var option = {
				    dataType : 'json', //JSON형태로 전달도 가능합니다.
				    url: "goodsRegist1",
				    data: formData,
				    contentType: false,               // * 중요 *
				    //contentType : false 로 선언 시 content-type 헤더가 multipart/form-data로 전송되게 함
				    processData: false,               // * 중요 *
				    //processData : false로 선언 시 formData를 string으로 변환하지 않음
				    enctype : 'multipart/form-data',  // * 중요 *
				    success: function(data) {
				    	if (result.SUCCESS == true) {
				         	alert("성공");
				         	location.href="goodsList";
				        } else {
				         	alert("실패 : 억울해...");
				        }
				    },
				    error: function(res){
				        alert("에러가 발생했습니다.")
				    }
			}
			$(this).ajaxSubmit(option); //옵션값대로 ajax비동기 동작을 시키고
		    return false; //기본 동작인 submit의 동작을 막아 페이지 reload를 막는다.
		});
	});
</script>
</head>
<body>
<div id="wrapper">
<div id="leftMenu">
	<ul>
		<li><a href="goodsList">상품 리스트</a></li>
		<li><a href="goodsRegist">상품 등록</a></li>
		<li><a href="goodsIpgoList">상품 입고 현황</a></li>
		<li><a href="goodsIpgo">상품 입고</a></li>
		<li><a href="purchaseList">주문 내역</a></li>
		<li><a href="goodsQuestion">상품 문의</a></li>
	</ul>
</div>
<div id="MemberInfo">
<form action="goodsRegist" method="post" th:object="${goodsCommand}" enctype="multipart/form-data" id="frm">
<table border=1>
	<tr><th>제품 번호</th>
		<td><input type="text" name="goodsNum" id="goodsNum" th:value="${goodsCommand.goodsNum}"  readonly="readonly" /><br/>
			
			goods10001번 부터 자동 부여
		</td>
	</tr>
	<tr>
		<th>상품명</th>
		<td><input type="text" name="goodsName" id="goodsName" th:value="${goodsCommand.goodsName}" /><br/>
			
		</td>
	</tr>
	<tr>
		<th>상품 가격</th>
		<td><input type="number" name="goodsPrice" id="goodsPrice" min="1000" step="1000" value="1000"/><br/>
			
		</td>
	</tr>
	<tr>
		<th>상품 내용</th>
		<td>
			<br/><textarea rows="6" cols="30" id="goodsContent" name="goodsContent">[[${goodsCommand.goodsName}]]</textarea>
			
		 </td>
	</tr>
	<tr>
		<th>배송비</th>
		<td><input type="number" name="deliveryCost" id="deliveryCost" min="2000" step="500" value="2000"/><br/>
			
		</td>
	</tr>
	<tr>
		<td>메인 이미지</td>
		<td>
			<input type="file" name="goodsMain" class="goodsMain"/><BR />
					
		</td>
	</tr>
	<tr>
		<td>이미지</td>
		<td>
			<input type="file" name="goodsImages" class="goodsImages" multiple="multiple"/>			
		</td>
	</tr>
	<tr>
		<th colspan="2" > 
			<input type="submit" value="상품등록" />
			<input type="reset" value="다시 작성" />
		</th>
	</tr>
</table>
</form>
</div>
</div>
</body>
</html>