<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="/static/css/memberLayout.css" rel="stylesheet">
</head>
<body>
<div id="wrapper">
<div id="leftMenu">
<ul>
	<li><a href="goodsList">상품 리스트</a></li>
	<li><a href="goodsRegist">상품 등록</a></li>
	<li><a href="goodsIpgoList">상품 입고 현황</a></li>
	<li><a href="goodsIpgo">상품 입고</a></li>
</ul>
</div>
<div id="MemberInfo">
<h2>입고현황</h2>
	<table border="1" width="600">
		<tr><th>순서</th><th>상품번호</th><th>입고일</th><th>수량</th><th>제조일</th></tr>
		<tr th:each="goodsCommand , idx : ${list}">
		    <th>[[${idx.count}]]</th>
			<th><a th:href="@{goodsIpgoDetail(goodsNum=${goodsCommand.goodsNum},
										   ipgoDate=${#dates.format(goodsCommand.ipgoDate,'yyyy-MM-dd')})}">
				[[${goodsCommand.goodsNum}]]
				</a></th>
			<th>[[${#dates.format(goodsCommand.ipgoDate,'yyyy-MM-dd')}]]</th>
			<th>[[${goodsCommand.ipgoQty}]]</th>
			<th>[[${#dates.format(goodsCommand.madeDate,'yyyy-MM-dd')}]]</th>
		</tr>
	</table>
</div>
</div>
</body>
</html>






