<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="/static/css/memberLayout.css" rel="stylesheet" >
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<script type="text/javascript">
$(function(){
	$("#frm").submit(function(){
		if($("input:checkbox[id=delete]:checked").length < 1 ){
			alert("하나 이상 테크를 하세요.");
			return false;
		}
	});
});
</script>
</head>
<body>
<div id="wrapper">
	<div id="leftMenu">
		<ul>
			<li><a href="goodsList">상품 리스트</a></li>
			<li><a href="goodsRegist">상품 등록</a></li>
			<li><a href="goodsIpgoList">상품 입고 현황</a></li>
			<li><a href="goodsIpgo">상품 입고</a></li>
			<li><a href="purchaseList">주문 내역</a></li>
			<li><a href="goodsQuestion">상품 문의</a></li>
		</ul>
	</div>
<div id="MemberInfo">
상품관리<br />
<p>
<table width="600" >
<tr><th>
<form action="goodsList" method="get" >
	상품 조회 : <input type="search" name="goodsWord" size="50"/> <input type="submit" value="검색" />
</form>
</th></tr>
</table>
</p>
<form action="goodsDels" method="post" id="frm">
<table border=1 width="600" >
	<tr>
		<th colspan="5">상품 리스트</th>
		<th width = "100">상품 개수 : [[${list.size()}]]</th>
	</tr>
	
	
	<tr>
		<th>번호</th><th>상품 번호</th>
		
		<th>이미지</th>
		
		<th>상품명</th><th>가격</th><th>조회수</th>
		<th><input type="submit" value="삭제"/></th>
	</tr>
	
	
	
	<tr th:each="goodsCommand , idx : ${list}">
		<th>[[${idx.count}]]</th>
		<th><a th:href="|goodsDetail/${goodsCommand.goodsNum}|">[[${goodsCommand.goodsNum}]]</a></th>
		
		<th><img th:src="|/goods/upload/${goodsCommand.goodsMain}|" width="30px"></th>
		
		<th>[[${goodsCommand.goodsName}]]</th>
		<th>[[${goodsCommand.goodsPrice}]]</th>
		<th>[[${goodsCommand.vistCount}]]</th>
		<th><input type="checkbox" id="delete" th:value="${goodsCommand.goodsNum}" name="delete"/></th>
	</tr>
	
	
	
	
	
	
	
	
	<tr>
	<th colspan="6" >
			<th:block th:if="${page <= 1 }">
			[이전]
			</th:block>
			<th:block th:if="${page > 1 }">
			<a th:href="@{goodsList(page=${page - 1 },goodsWord=${goodsWord})}">[이전]</a>
			</th:block>
			
			<th:block th:each=" i : ${#numbers.sequence(startPage, endPage)}" >
			
			[ <a th:href="@{goodsList(page=${i },goodsWord=${goodsWord})}">[[${i }]]</a> ] 
 			</th:block>
 			
 			<th:block th:if="${page < maxPage }">
 			<a th:href="@{goodsList(page=${page + 1 },goodsWord=${goodsWord})}">[이후]</a>
 			</th:block>
 			<th:block th:if="${page >= maxPage }">
 			[이후]
 			</th:block>
		</th>
	</tr>
</table>
</form>
</div>
</div>
</body>
</html>