<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
상품관리<br />
<a href="goodsRegist">상품 등록</a><br />

<p>
<table width="800" >
<tr><th>
<form action="goodsSearch" method="get" >
	상품 조회 : <input type="search" name="goodsWord" size="50"/> <input type="submit" value="검색" />
</form>
</th></tr>
</table>
</p>

<table border=1 width="800" >
	<tr>
		<th colspan="3">상품 리스트</th>
		<th width = "150">상품 개수 : </th>
	</tr>
	<tr>
		<th>상품 번호</th><th>상품명</th><th>가격</th><th>조회수</th>
	</tr>
	<th:block th:each="goodsCommand : ${list}">
	<tr>
		<th><a th:href="|goodsDetail/${goodsCommand.goodsNum}|">[[${goodsCommand.goodsNum}]]</a></th>
			<th>[[${goodsCommand.goodsName}]]</th>
			<th>[[${goodsCommand.goodsPrice}]]</th>
			<th>[[${goodsCommand.vistCount}]]</th>
	</tr>
	</th:block>
</table>
</body>
</html>