<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form action="goodsUpdate" method="post" th:object="${goodsCommand}">
<table border=1>
	<tr><th>제품 번호</th>
		<td><input type="text" name="goodsNum"  th:value="${goodsCommand.goodsNum}" readonly="readonly" /><br/>
			<span th:if="${#fields.hasErrors('goodsNum')}" th:errors="*{goodsNum}"></span>
		</td>
	</tr>
	<tr>
		<th>상품명</th>
		<td><input type="text" name="goodsName" th:value="${goodsCommand.goodsName}" /><br/>
			<span th:if="${#fields.hasErrors('goodsName')}" th:errors="*{goodsName}"></span>
		</td>
	</tr>
	<tr>
		<th>상품 가격</th>
		<td><input type="number" name="goodsPrice" th:value="${goodsCommand.goodsPrice}"/><br/>
			<span th:if="${#fields.hasErrors('goodsPrice')}" th:errors="*{goodsPrice}"></span>
		</td>
	</tr>
	<tr>
		<th>상품 내용</th>
		<td><span th:if="${#fields.hasErrors('goodsContent')}" th:errors="*{goodsContent}"></span>
			<br/><textarea rows="6" cols="30" name="goodsContent">[[${goodsCommand.goodsContent}]]</textarea>
			
		 </td>
	</tr>
	<tr>
		<th>배송비</th>
		<td><input type="number" name="deliveryCost" th:value="${goodsCommand.deliveryCost}"/><br/>
			<span th:if="${#fields.hasErrors('deliveryCost')}" th:errors="*{deliveryCost}"></span>
		</td>
	</tr>
	<tr>
		<th colspan="2" > 
			<input type="submit" value="상품 수정 완료" />
			<input type="button" value="상품 리스트" 
				onclick="javascript:location.href='goodsList'" />
		</th>
	</tr>
</table>
</form>
</body>
</html>