<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="/static/css/memberLayout.css" rel="stylesheet" >
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<script type="text/javascript">
function fileDel(orgFile1, strFile1,btn,kind1){
	$.ajax({ 
		type : "get",	
		url : "fileDel",
		dataType : "text",
		data: {"orgFile":orgFile1,"strFile":strFile1,"kind":kind1},
		success : function(result){
			if(result.trim() == 1){
				$(btn).val("삭제 취소");
				return;
			}else{
				$(btn).val("삭제");
				return;
			}
		},
		error : function(){
			alert('에러가 나왔다 홀홀홀~');
			return;
		}
	});
}
</script>
</head>
<body>
<div id="wrapper">
	<div id="leftMenu">
		<ul>
			<li><a href="goodsList">상품 리스트</a></li>
			<li><a href="goodsRegist">상품 등록</a></li>
			<li><a href="goodsIpgoList">상품 입고 현황</a></li>
			<li><a href="goodsIpgo">상품 입고</a></li>
			<li><a href="purchaseList">주문 내역</a></li>
		</ul>
	</div>
<div id="MemberInfo">
<form action="goodsUpdate" method="post" th:object="${goodsCommand}" enctype="multipart/form-data">
<table border=1>
	<tr><th>제품 번호</th>
		<td><input type="text" name="goodsNum"  th:value="${goodsCommand.goodsNum}" readonly="readonly" /><br/>
			<span th:if="${#fields.hasErrors('goodsNum')}" th:errors="*{goodsNum}"></span>
		</td>
	</tr>
	<tr>
		<th>상품명</th>
		<td><input type="text" name="goodsName" th:value="${goodsCommand.goodsName}" /><br/>
			<span th:if="${#fields.hasErrors('goodsName')}" th:errors="*{goodsName}"></span>
		</td>
	</tr>
	<tr>
		<th>상품 가격</th>
		<td><input type="number" name="goodsPrice" th:value="${goodsCommand.goodsPrice}"/><br/>
			<span th:if="${#fields.hasErrors('goodsPrice')}" th:errors="*{goodsPrice}"></span>
		</td>
	</tr>
	<tr>
		<th>상품 내용</th>
		<td><span th:if="${#fields.hasErrors('goodsContent')}" th:errors="*{goodsContent}"></span>
			<br/><textarea rows="6" cols="30" name="goodsContent">[[${goodsCommand.goodsContent}]]</textarea>
			
		 </td>
	</tr>
	<tr>
		<th>배송비</th>
		<td><input type="number" name="deliveryCost" th:value="${goodsCommand.deliveryCost}"/><br/>
			<span th:if="${#fields.hasErrors('deliveryCost')}" th:errors="*{deliveryCost}"></span>
		</td>
	</tr>
	
	
	
	
	<tr>
		<td>메인 이미지</td>
		<td>
			<input type="file" name="goodsMain"  /><BR />	
		</td>
	</tr>
	<tr>
		<td>이미지</td>
		<td>
			<input type="file" name="goodsImages" multiple="multiple"/>			
		</td>
	</tr>
	
	
	
	
	
	
	
	<tr>
		<td>등록된 메인 이미지</td>
		<td>
			[[${goodsCommand.goodsMainOrg}]]	
			<input type="button" value="삭제" th:attr="onclick=|fileDel('${goodsCommand.goodsMainOrg}',
																	   '${goodsCommand.goodsMain}',
																		this,
																		'main');|"/>
		</td>
	</tr>
	<tr>
		<td>등록된 이미지</td>
		<td>
			<div></div>
			<div th:each="file , idx : ${#strings.arraySplit(goodsCommand.goodsOriginal,'`')}" >	
				[[${file}]] 
				<input type="button" value="삭제" th:attr="onclick=|fileDel('${file}',
														'${#strings.arraySplit(goodsCommand.goodsImages,'`')[idx.index]}',
														this,
														'img');|" />
				<br />
			</div>	
		</td>
	</tr>
	
	
	<tr>
		<th colspan="2" > 
			<input type="submit" value="상품 수정 완료" />
		</th>
	</tr>
</table>
</form>
</div>
</div>
</body>
</html>





