<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<script type="text/javascript">

	function open1(id, id1){
		status = $(id).css("display");
		if (status == "none") { 
			$(id).css("display", ""); 
			$(id1).text("답변  닫기");
		} else { 
			$(id).css("display", "none"); 
			$(id1).text("답변  열기");
		}
	}

	</script>

<script > 

function inquireUpdate(as) {
	   window.open("inquireUpdate?inquireNum="+as+"&goodsNum=[[${goodsNum}]]","문의하기","width=700, height=650, top=100, left=100");
}
function inquireDelete(as) {
	location.href="inquireDelte?unquireNum="+as+"&goodsNum=[[${goodsNum}]]";
}
$(function(){
	$("#inquire1").click(function(){
		window.open("inquireWrite?goodsNum=[[${goodsNum}]]","문의하기","width=700, height=650, top=100, left=100");
	});
});
</script>
</head>
<body>
<table width="600" align="center" border="1">
	<tr><td colspan="4" align="right"><button type="button" id="inquire1" >문의 하기</button></td></tr>
	<tr><th width="15%">답변 상태</th><th>문의유형</th><th>작성자</th><th>작성일자</th></tr>	
	
	<th:block th:each="goodsInquireDTO, idx : ${list}">
	<tr ><td>[[${idx.count}]]</td><td colspan="3">[[${goodsInquireDTO.inquireSubject}]] | 
		 <a th:href="|javascript:open1('#inq${idx.count}', ingu${idx.count})|"><span th:id = "ingu + ${idx.count}">답변 열기</span></a></td></tr>
	<tr>
		<td> 검토중</td>
		<td> [[${goodsInquireDTO.inquireKind}]]</td>

		<td> [[${goodsInquireDTO.memberDTO.memberId}]]</td>
		<td> [[${#dates.format(goodsInquireDTO.inquireDate , 'yyyy-MM-dd')}]]
			<th:block th:if="${session.authInfo.userId == goodsInquireDTO.memberDTO.memberId}">
				<input type="button"  th:attr="onclick=|inquireUpdate('${goodsInquireDTO.inquireNum}');|" value="수정 하기">
				<input type="button"  th:attr="onclick=|inquireDelete('${goodsInquireDTO.inquireNum}');|" value="삭제 하기">
				
			</th:block>
		</td>
	</tr>
	<tr><td colspan="4">[[${goodsInquireDTO.inquireContent}]]</td></tr>
	
	<tr th:if="${goodsInquireDTO.inquireAnswer != null}" th:id="inq + ${idx.count}" style="display:none;">
		<td colspan="4" >[[${#dates.format(goodsInquireDTO.inquireDate , 'yyyy-MM-dd')}]]<br />
		[[${goodsInquireDTO.inquireAnswer}]]
		</td>
	</tr>
	<tr><td  colspan="4" >&nbsp;&nbsp;&nbsp;</td></tr>
	</th:block>
	
</table>
</body>
</html>