<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script>

</script>
</head>
<body>
	<form method="post" action="inquireUpdate" id="frmMain">
	<input type="hidden" name="inquireNum" th:value="${goodsInquireCommand.inquireNum}">
		<div id="body" class="withname">
			<h1 class="fl"> 판매자에게 문의하기 </h1>
			<hr>
			<div id="maxzone" >
				<div id="contents" >
					<p class="product-seller">
						<strong>상품명 : [[${goodsCommand.goodsName}]]</strong>
					</p>
					<div >
						<table class="tbl-qna" >
							<colgroup>
								<col style="width: 17%;">
								<col>
							</colgroup>
							<tbody>
								<tr>
									<th>문의유형</th>
									<td class="type">
										<input type="radio" id="hchkQueryType1"	name="hchkQueryType" value="상품"/>상품(성능/사이즈) 
										<input type="radio" id="hchkQueryType2" name="hchkQueryType" value="배송"/>배송
										<input type="radio" id="hchkQueryType3" name="hchkQueryType" value="교환"/>교환
										<input type="radio" id="hchkQueryType4" name="hchkQueryType" value="반품/취소/환불"/>반품/취소/환불 
										<input type="radio" id="hchkQueryType5" name="hchkQueryType" value="기타"/>기타
									</td>
								</tr>
								<tr class="cont">
									<th>제목</th>
									<td><input type="text" name="inquireSubject"  th:value="${goodsInquireCommand.inquireSubject}" /></td>
								</tr>
								<tr class="cont">
									<th>내용</th>
									<td>
											<textarea cols="50" rows="10" name="inquireContent">[[${goodsInquireCommand.inquireContent}]]</textarea>
									</td>
								</tr>
								<tr class="alarm">
									<th>답변알림</th>
									<td><input type="text" id="email1" name="email1"
												value="highland0" size="20" maxlength="35" /> @ <input
												id="email2" type="text" name="email2" maxlength="30"
												value="nate.com" />
									</td>
								</tr>

							</tbody>
						</table>
						<div id="bottombutton" class="bottom-button layerpopup">
							<input type="submit" name="btnInsert" id="btnInsert" value="문의하기" /> 
							<a href="javascript:self.close();">취소</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</body>
</html>