<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form method="post" action="" id="frmMain">
		<div id="body" class="withname">
			<h1 class="fl"> 판매자에게 문의하기 </h1>
			<hr>
			<div id="maxzone" >
				<div id="contents" >
					<p class="product-seller">
						<strong>상품명 : </strong>300ml 환자용 계량 빨대컵 PP빨대 물병 물통 병원용
					</p>
					<div >
						<table class="tbl-qna" >
							<colgroup>
								<col style="width: 17%;">
								<col>
							</colgroup>
							<tbody>
								<tr>
									<th><img
										src="http://pics.auction.co.kr/popup/txt_sellqna_th01.gif"
										alt="문의유형" /></th>
									<td class="type">
										<input type="radio" id="hchkQueryType1"	name="hchkQueryType" />상품(성능/사이즈) 
										<input type="radio" id="hchkQueryType2" name="hchkQueryType" />배송
										<input type="radio" id="hchkQueryType3" name="hchkQueryType" />교환
										<input type="radio" id="hchkQueryType4" name="hchkQueryType" />반품/취소/환불 
										<input type="radio" id="hchkQueryType5" name="hchkQueryType" />기타
									</td>
								</tr>

								<tr class="cont">
									<th>내용</th>
									<td>
											<textarea cols="50" rows="10" ></textarea>

									</td>
								</tr>
								<tr class="alarm">
									<th><img
										src="http://pics.auction.co.kr/popup/txt_sellqna_th06.gif"
										alt="답변알림" /></th>
									<td>
										<p>답변이 도착하면 등록하신 이메일로 알려드립니다. 이메일 주소 수정 시 회원정보 메일 주소도
											변경됩니다.</p>
										<div class="fl">
											<input type="text" id="email1" name="email1"
												value="highland0" size="20" maxlength="35" /> @ <input
												id="email2" type="text" name="email2" maxlength="30"
												value="nate.com" />
										</div>
									</td>
								</tr>

							</tbody>
						</table>

						<div id="bottombutton" class="bottom-button layerpopup">
							<input type="submit" name="btnInsert" id="btnInsert" value="문의하기" /> 
							<a href="javascript:self.close();">취소</a>
						</div>

					</div>
				</div>

			</div>


		</div>
	</form>
</body>
</html>