<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
직원등록 페이지입니다.<br />
<form action="employeeWrite" method="get" name="frm" id="frm" >
	직원번호 : <input type="text" name="empNum"  /><br />
	직원이름 : <input type="text" name="empName"  /><br />
	직원아이디: <input type="text" name="empId" /><br />
	비밀번호 : <input type="password" name="empPw" id="empPw" /><br />
	비밀번호확인 : <input type="password" name="empPwCon" id="empPwCon" /><br />
	입사일 : <input type="date" name="empHireDate" /><br />
	직원이메일 : <input type="email" name="empEmail" /><br />
	직원 급여 : <input type="number" min="100"  value="100" name="empSalary" /><br />
	직원연락처 : <input type="tel" name="empPhone" placeholder="031-1234-1234" /><br />
	<input type="submit" value="직원등록"/>
</form>
</body>
</html>