<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
회원 상세 페이지<br />
고객 번호 : [[${memberDTO.memNum }]]<br />
고객 이름 : [[${memberDTO.memName }]]<br />
고객 가입일 :<span th:text="${#dates.format(memberDTO.memRegiDate,'yyyy-MM-dd')}"></span><br />
고객 아이디 : [[${memberDTO.memId }]]<br />
고객 연락처1 : [[${memberDTO.memPhone1 }]]<br />
고객 연락처2 : [[${memberDTO.memPhone2 }]]<br />
고객 주소 : [[${memberDTO.memAddr }]]<br />
고객 이메일 : [[${memberDTO.memEmail }]]<br />
성별 : <span th:if="${memberDTO.memGender == 'M'}" th:text="남자" ></span>
	  <span th:if="${memberDTO.memGender == 'F'}" th:text="여자" ></span><br />
생년월일 : <span th:text="${#dates.format(memberDTO.memBirth,'yyyy-MM-dd')}"></span>  <br />
<a href="memberList" >회원리스트</a> | 
<a th:href="@{memberModify(num=${memberDTO.memNum })}" >회원 수정</a> |
<a th:href="@{memberDelete(num=${memberDTO.memNum })}" >회원 강퇴</a> 
</body>
</html>