<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form action="memberWrite" method="post" name="frm" id="frm">
고객 번호 : <input type="text" name="memNum" readonly="readonly" 
			th:value="${memberNum }"/>:번호 자동부여<br />
고객 이름 : <input type="text" name="memName" /><br />
고객 생년월일 : <input type="date" name="memBirth" /><br />
고객 성별 : <input type="radio" name="memGender" value="F" checked/>여자
          <input type="radio" name="memGender" value="M" />남자<br />
고객 가입일 : <input type="date" name="memRegiDate" /><br />
고객 아이디 : <input type="text" name="memId" /><br />
고객 비밀번호 : <input type="password" name="memPw" id="memPw" /><br />
고객 비밀번호 확인 : <input type="password" name="memPwCon" id="memPwCon" /><br />
고객 연락처1 : <input type="tel" name="memPhone1" placeholder="031-1234-1234"><br />
고객 연락처2 : <input type="tel" name="memPhone2"><br />
고객 주소 : <input type="text" name="memAddr"><br />
고객 이메일 : <input type="email" name="memEmail"><br />
<input type="submit" value="회원 등록" />
</form>
</body>
</html>