<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form action="goodsReviewUpdate" method="post" >
<input type="hidden" name="goodsNum" th:value="${dto.goodsDTO.goodsNum }"/>
<input type="hidden" name="purchaseNum" th:value="${dto.reviewDTO.purchaseNum }" />
<table >
	<tr><td>리뷰작성</td>
	    <td><textarea rows="5" cols="30" name="reviewContent">${dto.reviewDTO.reviewContent }</textarea></td></tr>
	<tr><td colspan="2"><input type="submit" value="리뷰등록" /></td></tr>		
</table>
</form>
</body>
</html>