<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form action="reviewWrite" method="post" >
<input type="hidden" name="goodsNum" th:value="${goodsNum}" />
<input type="hidden" name="purchaseNum" th:value="${purchaseNum}" />
<table >
	<tr><td>리뷰작성</td>
	    <td><textarea rows="5" cols="30" name="reviewContent"></textarea></td>
	</tr>
	<tr><td>별점</td>
	    <td><input TYPE="range" min="0" max="5" step="1" name="score"> </td>
	</tr>
	<tr><td colspan="2"><input type="submit" value="리뷰등록" /></td></tr>		
</table>
</form>
</body>
</html>