<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="/static/css/memberLayout.css" rel="stylesheet">
</head>
<body>
<div id="wrapper">
<div id="leftMenu">
	<ul>
		<li><a href="memberDetail">내 정보 보기</a></li>
		<li><a href="memberInfoModify">내 정보 수정</a></li>
		<li><a href="memberPass" >비밀번호 수정</a></li>
		<li><a href="memberDrop">회원 탈퇴</a></li>
	</ul>
</div>
<div id="MemberInfo">
내 정보<br/> 
내정보 보기<br />
고객 번호 :[[${memberCommand.memberNum}]]<br />
이름 :[[${memberCommand.memberName}]]<br />
가입일 :[[${memberCommand.memberRegist}]]<br />
아이디:[[${memberCommand.memberId}]]<br />
연락처 :[[${memberCommand.memberPhone}]]<br />
주소 :[[${memberCommand.memberAddr}]]<br />
이메일 :[[${memberCommand.memberEmail}]]<br />
성별 : <span th:if= "${memberCommand.gender == 'M'}" th:text="남자"></span>
	  <span th:if= "${memberCommand.gender == 'F'}" th:text="여자"></span><br />
생년월일 :[[${#dates.format(memberCommand.memberBirth,'yyyy-MM-dd')}]]<br />
</div>
</div>
</body>
</html>