<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="/static/css/memberLayout.css" rel="stylesheet">
</head>
<body>
<div id="wrapper">
<div id="leftMenu">
	<ul>
		<li><a href="memberDetail">내 정보 보기</a></li>
		<li><a href="memberInfoModify">내 정보 수정</a></li>
		<li><a href="memberPass" >비밀번호 수정</a></li>
		<li><a href="memberDrop">회원 탈퇴</a></li>
	</ul>
</div>
<div id="MemberInfo">
<form action="memberPassModify" name="frm" id="frm" method="post" th:object="${memberPwCommand}">
현재 비밀번호 : <input type="password" name="oldPw" />
<span th:if="${#fields.hasErrors('oldPw')}" th:errors="*{oldPw}"></span><br />
바꿀 비밀번호 : <input type="password" name="memberPw" id ="memberPw" />
<span th:if="${#fields.hasErrors('memberPw')}" th:errors="*{memberPw}"></span><br />
비밀번호 확인 : <input type="password" name="memberPwCon" id="memberPwCon" />
<span th:if="${#fields.hasErrors('memberPwCon')}" th:errors="*{memberPwCon}"></span><br />
<input type="submit" value="비밀번호 변경하기" />
</form>
</div>
</div>
</body>
</html>