<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form action="goodsRegist" method="post" name="frm" id="frm" 
	enctype="multipart/form-data" >
제품번호 : <input type="text" name="goodsNum" readonly="readonly"
				th:value="${goodsNum }"/> : 자동부여 <br />
제품이름 : <input type="text" name="goodsName" /> <br />
제품가격 : <input type="number" name="goodsPrice" min=1000 value="1000"/><br />
제조일 : <input type="date" name="goodsDate" /><br />
제품설명 : <textarea rows="6" cols="40" name="goodsContent"></textarea><br />
수량 : <input type="number" min=1 value="1" name="goodsQty"><br />
제조사 : <input type="text" name="goodsCompany" /><br />
이미지 : <input type="file" name="goodsImage" multiple="multiple" /><br />
<input type="submit" value="제품등록" />
</form>
</body>
</html>