<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 	
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kosaShoppingMall.mapper.EmployeeMapper">
<insert id="employeeInsert" parameterType="empDTO">
	insert into employees(emp_id, emp_pw, emp_name,emp_addr,
							emp_phone ,emp_email  )
	values(#{empId},#{empPw},#{empName},#{empAddr},#{empPhone},#{empEmail})
</insert>
<delete id="employeeDelete" parameterType="string">
	delete from employees
	where emp_id = #{empId}
</delete>
<update id="employeeUpdate" parameterType="empDTO">
	update employees
	set emp_name = #{empName}, emp_addr = #{empAddr}, 
		emp_phone = #{empPhone},emp_email = #{empEmail}
	where emp_id = #{empId}
</update>
<select id="selectOne" resultType="empDTO" parameterType="string" >
	select emp_id empId, emp_pw empPw, emp_name empName,
			emp_addr empAddr, emp_phone empPhone, emp_email empEmail
	from employees
	where emp_id = #{empId}
</select>
<select id="selectAll" resultType="empDTO">
	select emp_id empId, emp_pw empPw, emp_name empName,
			emp_addr empAddr, emp_phone empPhone, emp_email empEmail
	from employees
</select>
</mapper>