<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 	
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kosaShoppingMall.mapper.LoginMapper">
<select id="loginSelect" parameterType="string" 
			resultType="authInfo">
	select member_Id userId, member_pw userPw, 'mem' grade
	from member
	where member_id = #{id}
	union
	select emp_id, emp_pw ,'emp'
	from employees
	where emp_id= #{id}
</select>
</mapper>