<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 	
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kosaShoppingMall.mapper.LoginMapper">
<select id="findPw" parameterType="kosaShoppingMall.command.FindPasswordCommand" 
		resultType="string">
	select 'mem' from member 
	where member_id = #{userId} 
	  and member_phone =#{userPhone} 
	  and member_email = #{userEmail}
	union
	select 'emp' from employees
	where emp_id = #{userId} 
	  and emp_phone =#{userPhone} 
	  and emp_email = #{userEmail}
</select>
<select id="findId" parameterType="string" resultType="authInfo">
	select member_Phone phone, member_id userId
	from member
	where lower(member_email) = lower(#{email})
	union
	select emp_phone         , emp_id
	from employees
	where lower(emp_email) = lower(#{email})
</select>
<select id="loginSelect" parameterType="string" resultType="authInfo">
	select member_Id userId, member_pw userPw, 'mem' grade , member_ok memberok
	from member
	where member_id = #{id} 
	union
	select emp_id, emp_pw ,'emp' , null
	from employees
	where emp_id= #{id}
</select>
</mapper>


