<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 	
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="springBootTest2.mapper.MemberMapper">

<update id="memberUpdate" parameterType="memberDTO">
	update member
	set MEM_REGI_DATE=#{memRegiDate},
	    MEM_PHONE1 = #{memPhone1}, MEM_PHONE2=#{memPhone2},
	    MEM_ADDR = #{memAddr} , MEM_EMAIL =#{memEmail},
	    MEM_GENDER = #{memGender}, MEM_BIRTH = #{memBirth} 
	where MEM_NUM = #{memNum}
</update>
<delete id="memberDelete" parameterType="string">
	delete from member
	where MEM_NUM = #{memNum}
</delete>
<select id="selectAll" resultType="memberDTO">
select MEM_NUM memNum, MEM_NAME memName, MEM_REGI_DATE memRegiDate, 
		MEM_ID memId, MEM_PW memPw, MEM_PHONE1 memPhone1,
		MEM_PHONE2 memPhone2, MEM_ADDR memAddr, MEM_EMAIL memEmail, 
		MEM_GENDER memGender, MEM_BIRTH memBirth
from member
order by MEM_NUM desc
</select>
<select id="numberGenerate" resultType="string">
select concat('kosa',nvl(max(substr(MEM_NUM,5)),100000) + 1) from member
</select>
<insert id="memberInsert" parameterType="memberDTO">
insert into member(MEM_NUM,MEM_NAME,MEM_REGI_DATE, MEM_ID, MEM_PW,
				   MEM_PHONE1,MEM_PHONE2,MEM_ADDR,MEM_EMAIL,MEM_GENDER,
				   MEM_BIRTH)
values(#{memNum},#{memName},sysdate,#{memId},
		#{memPw},#{memPhone1},#{memPhone2},#{memAddr},#{memEmail},
		#{memGender},#{memBirth})
</insert>
<select id="selectOne" parameterType="string" resultType="memberDTO">
select MEM_NUM memNum, MEM_NAME memName, MEM_REGI_DATE memRegiDate, 
		MEM_ID memId, MEM_PW memPw, MEM_PHONE1 memPhone1,
		MEM_PHONE2 memPhone2, MEM_ADDR memAddr, MEM_EMAIL memEmail, 
		MEM_GENDER memGender, MEM_BIRTH memBirth
from member
where MEM_NUM = #{memNum}
</select>
</mapper>